<h1 id="header">About</h1>

<div class="container">

  <div class="missionAndStory">
    <p class="mission">To provide homestyle asian cuisine at affordable college prices.</p>

    <p>My grandmother wasn't able to have a life of her own because she grew up in South Korea in
      a generation where there were no resources or opportunities. </p>

    <p>That's not the case for me so I want to apply the cooking skills she instilled in me by feeding and nourishing the community
        one bowl at a time.</p>

    <p class="mission">Nothing  makes me happier than cooking for other people!</p>
  </div>

  <iframe width="560"
          height="315"
          src="https://www.youtube.com/embed/vM2zD5FtrkQ"
          frameborder="0"
          allow="accelerometer;
        autoplay;
        clipboard-write;
        encrypted-media;
        gyroscope;
        picture-in-picture" allowfullscreen></iframe>
</div>

