<div class="modal-header">
  <h2 class="modal-title">Cart</h2>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <section class="container content-section">
      <div class="cart-row">
        <span class="cart-item cart-header cart-column">ITEM</span>
        <span class="cart-price cart-header cart-column">PRICE</span>
        <span class="cart-quantity cart-header cart-column">QUANTITY</span>
      </div>
      <div class="cart-items" formArrayName="quantitiesList">
        <div class="cart-row" *ngFor="let cartItem of listOfCartItems; let i = index">
          <div class="cart-item cart-column">
            <img class="cart-item-image" src="{{cartItem.picture}}" width="100" height="100">
            <span class="cart-item-title">{{cartItem.title}}</span>
          </div>
          <span class="cart-price cart-column">{{cartItem.price}}</span>
          <div class="cart-quantity cart-column">
            <input class="cart-quantity-input" type="number" formControlName="{{i}}" (change)="cartService.setItemQuantity(i, formArray.at(i).value)" (click)="getTotal()">
            <button class="btn btn-danger" (click)="cartService.removeAt(i); getTotal()" type="button">REMOVE</button>
          </div>
        </div>
      </div>
      <div class="cart-total">
        <strong class="cart-total-title">Total</strong>
        <span class="cart-total-price">{{total}}</span>
      </div>
        <button routerLink="/delivery" class="btn btn-primary btn-purchase" type="button" (click)="onSubmit(); activeModal.dismiss('Cross click')">PURCHASE</button>
    </section>
  </form>
</div>


