<div class="modal-header">
  <h2 class="modal-title">Cart</h2>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <section class="container content-section">
      <div class="cart-row">
        <span class="cart-item cart-header cart-column">ITEM</span>
        <span class="cart-price cart-header cart-column">PRICE</span>
        <span class="cart-quantity cart-header cart-column">QUANTITY</span>
      </div>
      <div class="cart-items" formArrayName="quantitiesList">
        <div class="cart-row" *ngFor="let cartItem of listOfCartItems; let i = index">
          <div class="cart-item cart-column">
            <img class="cart-item-image" src="{{cartItem.picture}}" width="100" height="100">
            <span class="cart-item-title">{{cartItem.title}}</span>
          </div>
          <span class="cart-price cart-column">{{cartItem.price}}</span>
    <!--        maybe I can just but the formArray ngFor here-->
    <!--        https://stackoverflow.com/questions/45346616/ngfor-with-multiple-arrays-->
          <div class="cart-quantity cart-column">
    <!--          upon change of quantity to the specified item, change the cartitem's quantity-->
    <!--          pass in the cartItem into a function on click and have that update-->
            <input class="cart-quantity-input" type="number" formControlName="{{i}}">
            <button class="btn btn-danger" type="button">REMOVE</button>
          </div>
        </div>
      </div>
      <div class="cart-total">
        <strong class="cart-total-title">Total</strong>
        <span class="cart-total-price">{{total}}</span>
      </div>
      <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
    </section>
  </form>
</div>


