<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">spicy radish menu</h1>
    <p class="lead">a wokstar's creations prepared fresh </p>
  </div>
</div>
<div class="menuContainer">
  <div class="card" *ngFor="let menuItem of menuItems" style="width: 20rem;" >
    <img class="card-img-top" src="{{menuItem.picture}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{menuItem.title}}</h5>
      <p class="card-text">{{menuItem.description}}</p>
      <h5 class="card-price">{{menuItem.price}}</h5>
      <p></p>
<!--      on click, need to call menu item service's addTo Cart Function-->
      <div class="card-button"><button (click)="cartService.addToCart(menuItem)">Order Now</button>
    </div>
  </div>

</div>
