<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">spicy radish menu</h1>
    <p class="lead">a wokstar's creations prepared fresh </p>
  </div>
</div>

<div class="menuContainer">
  <div class="card" style="width: 20rem;">
    <img class="card-img-top" src="../../../assets/landingPage%20-%20Fried%20Rice%20High%20Res.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Shrimp Fried Rice</h5>
      <p class="card-text">Rice, egg, garlic, and blah</p>
      <h5 class="card-price">$11.00</h5>
      <p></p>
      <div class="card-button"><a href="#"><button>Order Now</button></a></div>
    </div>
  </div>

  <div class="card" style="width: 20rem;">
    <img class="card-img-top" src="../../../assets/landingPage%20-%20Fried%20Rice%20High%20Res.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card" style="width: 20rem;">
    <img class="card-img-top" src="../../../assets/landingPage%20-%20Fried%20Rice%20High%20Res.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

</div>
