<body  class="inventory-body">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div id="content">
          <h1>Curing Hangovers One Bowl at a Time</h1>
          <div class="input-group mb-1">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Default</span>
            </div>
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
          </div>          <h3>Check if we can deliver to your location before ordering</h3>
          <a href="/menu"><button>Menu</button></a>
          <h5>Hours: Sunday 11:00AM - 3:00PM </h5>
        </div>
      </div>
    </div>
  </div>
</body>


