<div class="container">
  <form [formGroup]="deliveryform" ngNativeValidate>
    <div class="order-summary">
      <h3>Order Summary</h3>
      <div class="row">
        <div class="col">Item</div>
        <div class="col">Price</div>
        <div class="col">Quantity</div>
      </div>
      <div class="row" *ngFor="let item of payload?.listOfCartItems">
        <div class="col"><img src="{{item.picture}}">{{item.title}}</div>
        <div class="col">{{item.price}}</div>
        <div class="col">{{item.quantity}}</div>
      </div>
      <div class="row">
        <div class="col lastOrderRow"></div>
        <div class="col lastOrderRow"></div>
        <div class="col lastOrderRow">Total: {{payload.total}}</div>
      </div>
    </div>

    <div class="contact-information">
      <h3>Contact Information</h3>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="First name" required>
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Last name" required>
        </div>
        <div class="col">
          <input type="tel" class="form-control" placeholder="Mobile Number" required>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
      </div>
    </div>
    <br>
    <div class="address">
      <h3>Address</h3>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Check if we deliver to your address">
        </div>
      </div>
    </div>
    <br>
    <div class="timeAndCalendar">
      <div class="calendar">
        <ngb-datepicker #dp [markDisabled]="isDisabled"></ngb-datepicker>
      </div>
      <div class="btn-group btn-group-toggle time" ngbRadioGroup name="radioBasic" formControlName="selectedTime">
        <div *ngFor = 'let timeslot of timeslots'>
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]=timeslot> {{timeslot}}
          </label>
        </div>
      </div>
    </div>
    <div id="submitButton"><button type="button" class="btn btn-primary btn-lg btn-block">Submit</button></div>
  </form>
</div>
