.container {
  padding-top: 5%;
  width: 60%;
}

.timeAndCalendar{
  display:flex;
}

.time{
  width:50%;
}

.calendar{
  width:50%;
}

#submitButton {
  margin-top: 3%;
  display: flex;
  justify-content: center;
}

.btn-block {
  width: 80%;
}

.btn-group.btn-group-toggle.time {
  display: flex;
  justify-content: center;
}









