html, body, app-root {
  height: 100%;
  margin: 0;
  font-family: Mate;
}

button {
  background-color: #E51010;
  border: none;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;

}


ngb-datepicker {
  width: 100%;
  height: 100%;
}

.ngb-dp-months {
  width: 100%;
  height: 100%;

}

.ngb-dp-month {
  width: 100%;
  height: 100%;
}

.ngb-dp-day {
  width: 100% !important;
  height: 100% !important;

}

.ngb-dp-day > div {
  width: 100% !important;
  height: 2.5rem !important;
  line-height: 3rem !important;
}

.ngb-dp-weekday {
  width: 100% !important;
}







/*ensures that there is no overlap between landing page content and navbar links*/
/*body {*/
/*  padding-top: 3%;*/
/*}*/
